@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Raleway:ital,wght@1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

/*--------------------------------- Navigation*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 1rem 2rem;
}

#logo a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

#burger {
    margin: 1rem 2rem;
    position: absolute;
    right: 0.8rem;
    display: none;
}

#burger a {
    color: black;
}

.navbar-links {
    margin: 0 2rem;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
}

.navbar-links li p {
    padding: 0.8rem;
    font-family: 'Hind Madurai', sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
}

.navbar-links li p:hover {
    color: #EAF0F0;
}