{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    {% block extra_meta %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}
    {% endblock %}

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <title>Back To Front {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <!-- Navigation -->
    <nav>
        <div id="logo">
            <a href="/">
                <h2>BACK TO FRONT</h2>
            </a>
        </div>
        <div id="burger">
            <a href="#" class="burgermenu">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </a>
        </div>
        <div class="navbar-links">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}"><p>Log Out</p></a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}"><p>Log In</p></a></li>
                <li><a href="{% url 'account_signup' %}"><p>Sign Up</p></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer>

    </footer>
    
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>

</html>