{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Back To Front</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>

<body>

    <!-- Navigation -->
    <nav>
        <div id="logo">
            <a href="#">
                <h2>BACK TO FRONT</h2>
            </a>
        </div>
        <div id="burger">
            <a href="#">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </a>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>