{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Back To Front</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <!-- Navigation -->
    <nav>
        <div id="logo">
            <a href="index.html">
                <h2>BACK TO FRONT</h2>
            </a>
        </div>
    </nav>

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>